@{
    //ViewBag.Title = "घर संकलन तपशील";
    ViewBag.Title = "CT / PT / U";
}

<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">CT / PT / U </h2>
    </div>
</header>
<iframe width="100%" height="600px" src="CTPTCountGarbageIndex" frameborder="0">
    <p>Your browser does not support iframes.</p>
</iframe>

